.task_manager{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.task_manager .nodes{
    position: relative;
}
.task_manager .nodes > .tree{
    display: block;
}
.task_manager .nodes > .list{
    display: block;
}
.task_manager .nodes .process{
    padding-left: 0px;
    font-family: Roboto-Light;
    font-size: 12px;
    background-image: url('/img/settings.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: 5px;
    background-position-y: center;
}
.task_manager .nodes .process > *{
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}
.task_manager .graph{
    display: inline-flex !important;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px solid #333;
}
.task_manager .graph > .fps{
    display: inline-block;
    font-family: Roboto-Light;
    font-size: 13px;
    padding: 5px;
}
.task_manager .graph > .level{
    display: inline-block;
    flex-grow: 1;
    position: relative;
    background-image: url('/img/grid.svg');
    background-repeat: repeat;
    background-size: 20px;
}
.task_manager .graph > .level > .box{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: dodgerblue;
}
/* THEME OVERRIDE */
.task_manager .ogx_tree_item_arrow span {
    width: 14px;
    height: 14px;
}
.task_manager .ogx_tree_item_label {
    font-size: 14px;
}
.task_manager .ogx_tree_item_icon {
    background-image: url('/img/settings.svg');
}
.task_manager .ogx_tree_selected_item {
    background-color: unset;
    box-shadow: unset;
}