.text_editor{
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--border-size);
    position: relative;
}
.text_editor > .editor{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.text_editor .tox{
    height: 100% !important;
}