.text_editor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--border-size);
    position: relative;
}
.text_editor > .editor{
    display: inline-block;
    width: 100%;
    flex-grow: 1;
    position: absolute;
}
.text_editor .tox{
    height: 100% !important;
}