.studio_code{
    display:block;
    position: relative;
    width: 100%;
    height: 100%;
}
.studio_code > .editor{
    display:block;
    position: absolute;
    top: var(--border-size);
    left: var(--border-size);
    max-width: calc(100% - var(--border-size) * 2);
    width: calc(100% - var(--border-size) * 2);
    height: calc(100% - var(--border-size) * 2);
    max-height: calc(100% - var(--border-size) * 2);   
}