.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: unset !important;
}
.icon_menu{
    background-image: url('/img/menu.svg');
}
.icon_settings{
    background-image: url('/img/settings.svg');
}
.icon_maximize{
    background-image: url('/img/maximize.svg');
}
.icon_minimize{
    background-image: url('/img/minimize.svg');
}
.icon_close{
    background-image: url('/img/close.svg');
}
.icon_drive{
    background-image: url('/img/drive.svg');
}
.icon_drives{
    background-image: url('/img/drives.svg');
}
.icon_monitor{
    background-image: url('/img/monitor.svg');
}
.icon_browser{
    background-image: url('/img/browser.svg');
}
.icon_image{
    background-image: url('/img/image.svg');
}
.icon_text{
    background-image: url('/img/text.svg');
}
.icon_calc{
    background-image: url('/img/calc.svg');
}
.icon_text{
    background-image: url('/img/text.svg');
}
.icon_add{
    background-image: url('/img/add.svg');
}
.icon_trash{
    background-image: url('/img/trash.svg');
}
.icon_reload{
    background-image: url('/img/reload.svg');
}
.icon_tmanager{
    background-image: url('/img/tmanager.svg');
}
.icon_camera{
    background-image: url('/img/camera.svg');
}
.icon_sketch{
    background-image: url('/img/sketch.svg');
}
.icon_folder{
    background-image: url('/themes/io-globules-ogx/dark/img/folder_closed.svg');
}
.icon_file{
    background-image: url('/themes/io-globules-ogx/dark/img/file.svg');
}
.icon_left{
    background-image: url('/themes/io-globules-ogx/dark/img/left.svg');
}
.icon_right{
    background-image: url('/themes/io-globules-ogx/dark/img/right.svg');
}
