.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.icon_menu{
    background-image: url('/img/menu.svg');
}
.icon_settings{
    background-image: url('/img/settings.svg');
}
.icon_close{
    background-image: url('/img/close.svg');
}
.icon_file{
    background-image: url('/img/file.svg');
}
.icon_monitor{
    background-image: url('/img/monitor.svg');
}
.icon_browser{
    background-image: url('/img/browser.svg');
}
.icon_left{
    background-image: url('/themes/io-globules-ogx/dark/img/left.svg');
}
.icon_right{
    background-image: url('/themes/io-globules-ogx/dark/img/right.svg');
}
