/* SHARED */
*{
    box-sizing: border-box;
}
/*TOOLBAR SHARED*/
.toolbar{
    display:flex;
    flex-direction:row;
    width:100%;    
    overflow:hidden;
    background-color:#282828;
    border-bottom: 1px solid #333;
    border-radius:6px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin-bottom: 5px !important;
}
.toolbar > .title{
    display:inline-block;
    vertical-align: top;
    padding-top:2px;
}
.toolbar > .search{
    display:inline-block;    
    flex-grow:1;
    margin-left: 35px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-size:20px;
    background-image:url('/img/search.svg');
    padding-left:20px;
    margin-top:-5px;
}
.toolbar > .search  > input{
    display: inline-block;
    width:100%;
}
.toolbar > .icons{
    display:inline-block;    
    flex-grow: 1;
    text-align: right;
    padding-right: 5px;
}
.toolbar > .icons > .icon{
    display:inline-block; 
    width:26px;
    height:26px;
    margin-left:15px;
}
.toolbar > .tools{
    display: inline-block;
    flex-grow: 1;
    text-align: right;
}
.toolbar > .tools > .icon{
    display:inline-block; 
    width:26px;
    height:26px;
    margin-left:15px;
}
/* THEMING OVERRIDE */
.ogx_context_menu_list{
    padding: 2px;
}
.ogx_context_menu > .ogx_context_menu_body{
    padding: 5px;
}
.ogx_context_menu_item > .label{
    display: inline-block;
    font-family: Roboto-Light;
    font-size: 13px;
    vertical-align: top;
    margin-left: 5px;
    padding-top: 3px;
}
.ogx_popup_title {
    font-family: Roboto-Light;
    font-size: 13px;
}
.ogx_popup_icon{
    width: 20px;
    height: 20px;
    top: 8px;
}
.ogx_popup_icons {
    padding-top: 8px;
    padding-right: 8px;
}
.ogx_popup_icons_icon {
    width: 20px;
    height: 20px;
}
.ogx_tabs_tab_label {
    font-family: Roboto-Light;
    font-size: 13px;
}
.ogx_docker_item_icon{
    width: 13px;
    height: 13px;
}
.ogx_docker_item_line{
    width: 13px;
}

