:root {
    --bg-color: #222;
    --font-light: Roboto-Light;
    --font-reg: Roboto-Regular;
    --font-med: Roboto-Medium;
    --font-bold: Roboto-Bold;
    --icon-size: 24px;
    --popup-icon-size: 20px;
    --popup-title-size: 13px;
    --popup-message-size: 17px; 
    --context-label-size: 13px;
    --border-size: 5px;
    --title-size: 16px;
    --subtitle-size: 13px;
    --tree-label-size: 14px;
    --tab-label-size: 13px;
    --input-size: 13px;
    --file-size: 50px;
    --file-label-size: 13px;
}
.rename > .info > .label{
    display: none !important;
}
.rename > input{
    display: block;
    min-width: unset;
    outline: none;
    width: 100px;
    margin: auto;
    background: none;
    border: 1px solid #EEE;
    border-radius: 4px;
    font-family: var(--font-light);
    font-size: var(--file-label-size);
    color: #EEE;
}